<video autoplay muted loop controls="autoplay" class="background">
    <source src="../../assets/videos/star-bg.mp4" type="video/mp4">
</video>
<section class="landing">
    <div class="gate-container">
        <div class="title-wrapper">
            <h1 class="title">G.A.T.E</h1>
            <h4 class="subtitle">Galactic Archive and Tracking Engine</h4>
        </div>
        <div class="button-wrapper">
            <button (click)="routeToTerminal()" class="enter-btn">
                Enter
            </button>
        </div>
    </div>
    
</section>
